@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.4em;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #265cdf;
  border: 0.21em solid transparent;
}

::-webkit-file-upload-button {
  background-color: #265cdf;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.350rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #eff4ff;
  margin-top: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #374956;
}

.loadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  gap: 1rem;
}

.loadingSpinner p {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  body {
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .loadingSpinner p {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }
}